@mixin centered {
	justify-content: center;
	align-items: center;
}

// row flex
@mixin flex-plain {
	display: flex;
}

@mixin flex-row-center {
	@include flex-plain;
	@include centered;
}

// column flex
@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-column-center {
	@include centered;
	@include flex-column;
}
